main {
    // max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 0 .5em;
    margin: 0 auto;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    border: 6px solid rgb(0, 0, 0);
    // border-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: .3em;
    padding: 0.3em;
    background-color: rgb(124, 194, 240);
    // max-height: 30vw;
}

section {
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 1em;
    input {
        font-size: large;
    }
    button {
        font-size: large;
    }
}

img {
    // min-height: 10em;
    // min-width: 30em;
    max-width: 50%;
    max-height: 60%;
    // border: 5px solid black;
    margin: 0 auto;
}

p {
    margin: 0px;
    padding: .75em;
    text-justify: auto;
    // min-width: 2vw;
}

body{
    background-color: rgb(15, 60, 145);
}

.earthSection{
    display: flex;


    @media only screen and (min-width:799px){
        flex-direction: column;
        margin: 0 200px 0 200px;
    }

    @media only screen and (min-width:1500px){
        flex-direction: column;
        margin: 0 600px 0 600px;
    }


    #earthFlag{
        border: 5px solid black;
        max-width: 30vw;
        max-height: 20vh;

    }

}