main {
    // max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 0 .5em;
    margin: 0 auto;
}

div {
    display: flex;
    justify-content: center;
    max-height: fit-content;
    border: 3px solid red;
    margin: .3em;
    padding: 0.3em;
    // max-height: 30vw;
}

img {
    // min-height: 10em;
    // min-width: 30em;
    max-width: 10em;
    // border: 5px solid black;
    margin: 0 auto;
}

p {
    margin: 0px;
    padding: .75em;
    text-justify: auto;
    // min-width: 2vw;
}
